<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2023-2024 Paranoid Android

     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiaomi.settings"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.SubSettingsBase.Expressive"
        android:persistent="true"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true">

        <receiver
            android:name=".BootCompletedReceiver"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- Services -->
        <service android:name=".thermal.ThermalService" />

        <!-- Thermal Activity -->
        <activity
            android:name=".thermal.ThermalSettingsActivity"
            android:label="@string/thermal_title"
            android:icon="@drawable/ic_thermal_settings"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.system" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/thermal_summary" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_thermal_settings" />
        </activity>

        <!-- GameBar Overlay -->
        <activity
            android:name=".gamebar.GameBarSettingsActivity"
            android:label="@string/game_bar_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.apps" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/game_bar_summary" />
        </activity>

        <!-- GameBar AppSelector -->
        <activity android:name=".gamebar.GameBarAppSelectorActivity" />
        <activity android:name=".gamebar.GameBarAppRemoverActivity" />

        <!-- GameBar Overlay Tile Service -->
        <service
            android:name=".gamebar.GameBarTileService"
            android:label="@string/game_bar_tile_label"
            android:icon="@drawable/ic_gamebar"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <!-- GameBar Overlay Monitor Service -->
        <service
            android:name=".gamebar.GameBarMonitorService"
            android:exported="false" />

        <!-- GameBar BootReceiver -->
        <receiver
            android:name=".gamebar.GameBarBootReceiver"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
             </intent-filter>
        </receiver>
    </application>
</manifest>
